*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(135deg,#141E30,#243B55);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Main Card */
.profile-card{
    width:900px;
    display:flex;
    border-radius:20px;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 20px 40px rgba(0,0,0,0.5);
    overflow:hidden;
    color:#fff;
}

/* LEFT PANEL */
.left-panel{
    width:35%;
    background: linear-gradient(180deg,#ff6a00,#ee0979);
    padding:40px 20px;
    text-align:center;
}

.left-panel img{
    width:130px;
    height:130px;
    border-radius:50%;
    border:4px solid #fff;
    margin-bottom:15px;
    transition:0.3s;
}

.left-panel img:hover{
    transform:scale(1.1);
}

.left-panel h2{
    margin-bottom:5px;
}

.left-panel p{
    font-size:14px;
    opacity:0.9;
}

.social-icons{
    margin-top:20px;
}

.social-icons span{
    display:inline-block;
    margin:5px;
    padding:8px 12px;
    border-radius:20px;
    background:rgba(255,255,255,0.2);
    font-size:13px;
    cursor:pointer;
    transition:0.3s;
}

.social-icons span:hover{
    background:#fff;
    color:#ee0979;
}

/* RIGHT PANEL */
.right-panel{
    width:65%;
    padding:40px;
}

.section{
    margin-bottom:25px;
}

.section h3{
    margin-bottom:10px;
    font-size:18px;
    color:#ff6a00;
    border-bottom:1px solid rgba(255,255,255,0.2);
    padding-bottom:5px;
}

.section p{
    font-size:14px;
    margin-bottom:6px;
    opacity:0.85;
}

.skills span{
    display:inline-block;
    padding:6px 12px;
    margin:5px 5px 0 0;
    background:#ee0979;
    border-radius:15px;
    font-size:13px;
    transition:0.3s;
}

.skills span:hover{
    background:#ff6a00;
}

/* Buttons */
.buttons{
    margin-top:20px;
}

.buttons button{
    padding:10px 20px;
    margin-right:10px;
    border:none;
    border-radius:25px;
    cursor:pointer;
    font-size:14px;
    transition:0.3s;
}

.message-btn {
  background: white;
  color: #0072ff;
}

.contact-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.primary{
    background:#ff6a00;
    color:white;
}

.secondary{
    background:transparent;
    border:1px solid #fff;
    color:white;
}

.buttons button:hover{
    transform:translateY(-3px);
    opacity:0.85;
}

/* Responsive */
@media(max-width:768px){
    .profile-card{
        flex-direction:column;
        width:95%;
    }

    .left-panel,
    .right-panel{
        width:100%;
    }
}
